{
	"root": true,

	"extends": "@ljharb",

	"globals": {
		"AsyncDisposableStack": false,
		"DisposableStack": false,
	},

	"rules": {
		"eqeqeq": ["error", "always", { "null": "ignore" }],
		"func-name-matching": "off",
		"id-length": "off",
		"max-lines-per-function": "off",
		"multiline-comment-style": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"AddDisposableResource",
				"Call",
				"CreateDisposableResource",
				"CreateMethodProperty",
				"DefinePropertyOrThrow",
				"Dispose",
				"DisposeResources",
				"GetDisposeMethod",
				"GetIntrinsic",
				"GetMethod",
				"IsCallable",
				"NewDisposeCapability",
				"NewPromiseCapability",
				"NormalCompletion",
				"PromiseResolve",
				"ThrowCompletion",
				"Type",
			],
		}],
		"sort-keys": "off",
	},
}
